
.newmodels{
    padding-bottom: 150px;
}
.model__content{
  padding-bottom: 100px;
  
}

.models__title{
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 44px;
letter-spacing: 0.04em;
text-transform: uppercase;
color: #212121;
}

.models{
    position: relative;
}

.models svg{
    position: absolute;
    top: -30px;
    right: 30px;
}
.model__image{
padding-left: 35px;
    
}

.model__item{
    padding: 25px 0px 15px 0px;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 17px;
text-align: center;
}

.model__price{
    font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 22px;
text-align: center;
color: #D7B399;
}

.model__button{
    background: #D7B399;
    color: #ffff;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.03em;
    padding: 16px 60px;
    margin-left: 430px;
}